*.jou
profile_summary.html
profile_summary.csv
_v++_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
*/build_dir.hw.xilinx_u200_xdma_201830_2/*
!*/build_dir.hw.xilinx_u200_xdma_201830_2/*.xclbin

